body {
    background-color: lightgray;
    width: 1800px;
    margin: 50px auto;
    font-family: Helvetica, sans-serif;
}

aside {
    display: inline-block;
    position: absolute;
}

article {
    display: inline-block;
    width: 60%;
}

img {
    width: 70%;
}