@media screen and (max-width: 600px){
    header nav {
        flex-direction: column;
        gap: 16px;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
        font-size: 26p;
    }

    .header-title {
        padding: 20px 26px;
    }

    .header-title h1{
        width: 100%;
        font-size: 38px;
    }

    .about-us p:nth-child(3) {
        width: 90%;
    }

    .team-description-wrapper {
        width: 90%;
    }

    .team-description-wrapper ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .choose-us ul{
        flex-direction: column;
    }

    .choose-us ul li p{
        width: 50%;
        text-align: center;
        margin: auto;
    }

    .blog-news .blog-list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .blog-news {
        padding-bottom: 60px;
    }




}