body{
    background-color: lightgray;
    font-family: cursive;
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin: 30px auto 0px auto;
}

header {
    border-bottom: 3px solid black;
}

header h1 {
    font-size: 52px;
}

main h1 {
    font-size: 32px;
}

main { 
    margin-bottom: 60px;
}

/* .clear {
    height: 10%;
} */

footer {
    background-color: rgb(42, 42, 42);
    color: white;
    text-align: center;
    height: 50px;
    width: 60vw;

    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
}