@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Raleway:wght@100;400&display=swap');

body {
    margin: 30px auto;
    max-width: 2000px;
    background-color: lightgray;
}

h1 {
    font-family: Great Vibes, cursive;
    font-weight: bold;
    line-height: 1.2;
}

article {
    font-family: Raleway, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}